*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
}

.choice{
    width: 200px;
    height: 200px;
    border-radius: 53%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 183px;
    width: 205px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 3rem;
    gap: 5rem;
}

#User-score,#Comp-score{
    font-size: 4rem;
}

.msg-Container{
    margin-top: 4rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem ;
    border-radius: 1rem;
}